body {
    text-align: center;
}

.body h1 {
    font-size: 180px;
    font-family: 'Brush Script MT';
    font-style: oblique;
    margin: 0px;
    color: #dbc045;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.body p {
    font-size: 40px;
    margin: 40px;
    font-family: Garamond, serif;
    font-weight: bold;
    color: #dbc045;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.taustakuva {
    background-image: url("taustakuva.jpg");
    background-size: cover;
    width: 100%;
}

.syote {
    font-size: 20px;
    color: #dbc045;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.syote input {
    font-size: 20px;
    padding: 6px 10px;
    width: 60px;
}

#painike {
    background-color: #dbc045;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 20px 30px;
}

#luukunsisalto {
    font-size: 20px;
    margin: 40px;
    font-family: Garamond, serif;
    font-weight: bold;
    color: #dbc045;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

#luukunsisalto img {
    width: 600px;
    height: 600px;
    display: block;
    margin: 20px auto;
}